# **Setting up Spark**

In [113]:
# Install PySpark library on google colab
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

In [114]:
# Check pyspark installation by building spark session
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("Colab")\
        .config('spark.ui.port', '4050').getOrCreate()

spark

In [115]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [116]:
import pandas as pd

data = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/data/PreprocessedDataCoSupplyChainDataset.csv", encoding='latin1')
data.head()

   Unnamed: 0      Type  ...   Shipping Mode     Customer Name
0           0     DEBIT  ...  Standard Class     CallyHolloway
1           1  TRANSFER  ...  Standard Class         IreneLuna
2           2      CASH  ...  Standard Class  GillianMaldonado
3           3     DEBIT  ...  Standard Class          TanaTate
4           4   PAYMENT  ...  Standard Class     OrliHendricks

[5 rows x 43 columns]

In [117]:
data['Customer Name'].unique()

array(['CallyHolloway', 'IreneLuna', 'GillianMaldonado', ...,
       'AnikaDavenport', 'YuriSmith', 'HyacinthWitt'], dtype=object)

In [118]:
df = data.copy()
df = df[['Customer Name','Product Name']]
df = df.drop_duplicates(['Customer Name', 'Product Name'])
df = df.groupby('Customer Name')['Product Name'].apply(list)\
.reset_index(name="Products")

# df.rename( columns={1 :'Products'}, inplace=True )
df.head()

  Customer Name                                           Products
0   AaronBerger  [Under Armour Girls' Toddler Spine Surge Runni...
1    AaronBoyle  [Diamondback Women's Serene Classic Comfort Bi...
2     AaronBush  [Nike Men's CJ Elite 2 TD Football Cleat, Unde...
3  AaronCalhoun  [Perfect Fitness Perfect Rip Deck, Pelican Sun...
4     AaronCarr  [Pelican Sunstream 100 Kayak, Nike Men's CJ El...

# **Convert to Spark Dataframe**

In [119]:
from pyspark.ml.fpm import FPGrowth
from pyspark.sql import SQLContext

# Convert the pandas dataframe into a spark dataframe
# sc = SparkContext.getOrCreate()
sqlContext = SQLContext(spark)

spark_frame = sqlContext.createDataFrame(df)

In [120]:
spark_frame

DataFrame[Customer Name: string, Products: array<string>]

# **Applying the FP algorithm**

In [121]:
# Create fpGrowth object by instantiating the FPGrowth constructor with the necessary parameters
fpGrowth = FPGrowth(itemsCol="Products",minSupport=0.015, minConfidence=0.35)

# Fit the dataframe into the fpGrowth object to get the model prepared
model = fpGrowth.fit(spark_frame)

In [122]:
# Display the frequently occuring items
model.freqItemsets.sort('freq',ascending=False).show(truncate=False)

+------------------------------------------------------------------------------------+----+
|items                                                                               |freq|
+------------------------------------------------------------------------------------+----+
|[Perfect Fitness Perfect Rip Deck]                                                  |4851|
|[Nike Men's CJ Elite 2 TD Football Cleat]                                           |4711|
|[Nike Men's Dri-FIT Victory Golf Polo]                                              |4603|
|[O'Brien Men's Neoprene Life Vest]                                                  |4505|
|[Field & Stream Sportsman 16 Gun Fire Safe]                                         |4304|
|[Nike Men's CJ Elite 2 TD Football Cleat, Perfect Fitness Perfect Rip Deck]         |4135|
|[Pelican Sunstream 100 Kayak]                                                       |4108|
|[Nike Men's Dri-FIT Victory Golf Polo, Perfect Fitness Perfect Rip Deck]            |4030|
|[O'Brien Men's Neoprene Life Vest, Perfect Fitness Perfect Rip Deck]                |3963|
|[Diamondback Women's Serene Classic Comfort Bi]                                     |3937|
|[Nike Men's Dri-FIT Victory Golf Polo, Nike Men's CJ Elite 2 TD Football Cleat]     |3914|
|[O'Brien Men's Neoprene Life Vest, Nike Men's CJ Elite 2 TD Football Cleat]         |3832|
|[Nike Men's Free 5.0+ Running Shoe]                                                 |3803|
|[Field & Stream Sportsman 16 Gun Fire Safe, Perfect Fitness Perfect Rip Deck]       |3774|
|[O'Brien Men's Neoprene Life Vest, Nike Men's Dri-FIT Victory Golf Polo]            |3766|
|[Field & Stream Sportsman 16 Gun Fire Safe, Nike Men's CJ Elite 2 TD Football Cleat]|3691|
|[Pelican Sunstream 100 Kayak, Perfect Fitness Perfect Rip Deck]                     |3642|
|[Field & Stream Sportsman 16 Gun Fire Safe, Nike Men's Dri-FIT Victory Golf Polo]   |3619|
|[Field & Stream Sportsman 16 Gun Fire Safe, O'Brien Men's Neoprene Life Vest]       |3568|
|[Under Armour Girls' Toddler Spine Surge Runni]                                     |3563|
+------------------------------------------------------------------------------------+----+
only showing top 20 rows

In [123]:
from pyspark.sql.functions import col,round

# Display the generated association rules
model.associationRules\
.withColumn("confidence", round(col("confidence"), 3))\
.withColumn("lift", round(col("lift"), 3))\
.withColumn("support", round(col("support"),10))\
.sort('confidence',ascending=False)\
.show(truncate=True)

+--------------------+--------------------+----------+-----+------------+
|          antecedent|          consequent|confidence| lift|     support|
+--------------------+--------------------+----------+-----+------------+
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.982|2.924|0.0151785078|
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.978|2.913|0.0158198532|
|[Titleist Pro V1 ...|[Perfect Fitness ...|     0.977|2.827|0.0153922896|
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.977|2.911|0.0152497684|
|[Titleist Pro V1 ...|[Nike Men's CJ El...|     0.977|2.911|0.0153922896|
|[ENO Atlas Hammoc...|[Perfect Fitness ...|     0.977|2.826|0.0150359866|
|[ENO Atlas Hammoc...|[Perfect Fitness ...|     0.974|2.817|0.0158198532|
|[Titleist Pro V1x...|[Perfect Fitness ...|     0.973|2.814| 0.015321029|
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.973|2.898| 0.015321029|
|[Titleist Pro V1 ...|[Nike Men's Dri-F...|     0.973|2.966|0.0153922896|
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.972|2.896|0.0150359866|
|[Bridgestone e6 S...|[Nike Men's Dri-F...|     0.972|2.965|0.0151072472|
|[Glove It Women's...|[O'Brien Men's Ne...|     0.972|3.029|0.0150359866|
|[Under Armour Gir...|[Perfect Fitness ...|     0.971| 2.81|0.0893607924|
|[Team Golf St. Lo...|[Nike Men's CJ El...|     0.971|2.891|0.0164611986|
|[Under Armour Gir...|[Perfect Fitness ...|     0.969|2.804|0.0939927314|
|[Titleist Pro V1 ...|[Nike Men's CJ El...|     0.969|2.888|0.0158198532|
|[Titleist Pro V1 ...|[Nike Men's CJ El...|     0.969|2.887|0.0157485926|
|[Titleist Pro V1 ...|[Perfect Fitness ...|     0.969|2.804|0.0157485926|
|[Top Flite Women'...|[Perfect Fitness ...|     0.968|  2.8|0.0151072472|
+--------------------+--------------------+----------+-----+------------+
only showing top 20 rows